html, body {
  padding: 0;
  margin: 0;
  background: silver;
}

.editor {
  width: 600px;
  height: 240px;
  background: white;

  box-sizing: border-box;
  position: relative;
  caret-color: transparent;
  padding: 5px;

  font-family: monospace;
  font-size: 15px;
}

.editor .caret {
  height: 16px;
  width: 2px;
  background-color: indigo;
  display: none;
  position: absolute;
}

.editor:focus .caret {
  display: block;
}

.editor .editor-line {
  padding: 0;
  margin: 0;
}

.editor .editor-line span {
  white-space: pre;
}